<html>
<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: grey;
    }
    img {
        width: 95%;
        border: 5px solid black;
        border-radius: 20px;
    }
    h1 {
        display: flex;
        flex: 1;
        width: 95%;
        align-items: center;
        justify-content: center;
        border: 5px solid black;
        border-radius: 20px;
        background-color: white;
    }
</style>
<body id="body">
<h1>Hello Justin</h1>
    <img id='img' src="static/justin.jpeg" />
</body>
</html>
